@media (min-width:576px) and (max-width:767px) {
  .container {
    max-width: 520px;
    display: block;
    padding-left: 0;
    padding: 0;
  }
  .wrapper {
    padding: 1rem;
    margin-bottom: 6rem;
  }

  .gallery {
    margin: 25px 0 25px 0;
    padding: 0;
  }
  .gallery img {
    width: 100%;
  }
  .to-top {
    bottom: -6rem;
    right: 1rem;
  }
}
