@media (min-width:992px) {
  .container {
    max-width: 840px;
    padding: 0;
  }
  .wrapper {
    padding-left: 0;
    margin-bottom: 6rem;
  }
  .gallery {
    margin: 0.75rem 0.6rem 0;
    padding: 0;
  }
  .gallery img {
    width: 100%;
  }
  .row {
    margin: 0;
  }
  .to-top {
    bottom: -5.9rem;
    right: 0.1rem;
  }
