@media(min-width:992px) {
nav{
  max-width: 700px;
}
  .container-width {
    margin: 0 auto;
    line-height: 5;
  }
  h1 {
    margin-left: 2.5rem;
  }
  ul.submenu {
    top: 4.9rem;
    left: 0.6rem;

  }
}
