@media(min-width:768px) and (max-width:991px) {
  .container-width {
    width: 60%;
    line-height: 4;
  }
  .navbar.col-sm-12 {
    order: -1;
  }
  .navbar .col-sm-4 {
    margin-top: -50px;
  }
  h1 {
    margin: 0 auto;
    margin-bottom: 1rem;
  }
  ul.submenu{
    top: 4.1rem;
    left: 31%;
  }
}
@media(min-width:576px) and (max-width:767px) {
  .container-width {
    width: 60%;
    line-height: 4;
  }
  .navbar .col-sm-12 {
    order: -1;
  }
  .navbar .col-sm-4 {
    margin-top: -50px;
  }
  h1 {
    margin: 0 auto;
    margin-bottom: 1rem;
    }
  ul.submenu{
    top: 4.1rem;
    left:24%;
  }
}
