@media(min-width:992px) {
  .container-width {
    width: 70%;
    margin: 0 auto;
    line-height: 5;
  }
  h1 {
    margin-left: 2.7rem;
  }
  ul.submenu {
    top: 4.9rem;
    left: 0.6rem;

  }
}
