@media (min-width:769px) {
  article {
    max-width: 1024px;
  }
  .wrapper {
    padding: 0px 15px 40px;
  }
  .gallery {
    width: 30%;
    margin: 12px 0 0 24px
  }
  .gallery img {
    width: 100%;
  }
}
