@media (min-width:769px) {
  .gallery {
    max-width: 1024px;
  }
  .gallery__content {
    padding: 0px 15px 40px;
  }
  .gallery__item {
    width: 30%;
    margin: 12px 0 0 24px;
  }
  .gallery__item img {
    width: 100%;
  }
}
