@media (max-width:480px) {
  .gallery {
    min-width: 460px;
  }
  .gallery__content {
    display: block;
    padding-left: 0;
  }
  .gallery__item {
    margin: 25px 0 25px 0;
    width: 80%;
  }
  .gallery__image{
    width: 100%;
  }
}
